<template>
  <div>
    <b-navbar
      toggleable="lg"
      type="dark"
      variant="warning"
      class="navbar-horizontal"
    >
      <b-navbar-brand
        ><img src="../media/icon.png" width="50" height="50" alt=""
      /></b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-form>
            <li class="nav-item">
              <router-link class="nav-link active" to="/"
                >PvP Brackets</router-link
              >
            </li>
          </b-nav-form>
          <b-nav-form>
            <li class="nav-item">
              <router-link class="nav-link active" to="/pvpleaderboards"
                >PvP Leaderboards</router-link
              >
            </li>
          </b-nav-form>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
export default {
  name: "NavbarMenu"
};
</script>

<style scoped>
nav {
  background-color: #37393f !important;
}

.navbar-nav {
  font-size: 24px !important;
}
.nav-link:focus,
.nav-link:hover {
  opacity: 0.6;
  transition: 0.5s;
}
</style>
