<template>
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <b-card class="card shadow">
        <h1 class="text-center text-white">PvP Leaderboards</h1>
        <h6 class="text-center text-white">
          A simple tool to check PvP leaderboards
        </h6>
        <b-form class="mt-3" @submit="onSubmit" @reset="onReset" v-if="show">
          <b-row>
            <b-col>
              <b-input-group>
                <b-form-select
                  id="region"
                  v-model="form.region"
                  :options="regions"
                  required
                ></b-form-select>

                <b-form-select
                  id="pvpBracket"
                  v-model="form.pvpBracket"
                  :options="pvpBrackets"
                  required
                ></b-form-select>
              </b-input-group>
            </b-col>
          </b-row>

          <b-row class="mt-2">
            <b-col class="text-right">
              <b-button class="mr-1" type="reset" variant="outline-danger"
                >Reset</b-button
              >
              <b-button type="submit" variant="outline-light">Search</b-button>
            </b-col>
          </b-row>
        </b-form>
      </b-card>
    </div>

    <div class="d-flex justify-content-center mt-5" v-if="loading">
      <b-spinner style="width: 3rem; height: 3rem;" variant="light"></b-spinner>
    </div>

    <div
      class="row mt-4 mb-5 justify-content-center"
      v-if="correct && !loading"
    >
      <b-card class="mt-2 card shadow">
        <table
          class="table table-dark table-borderless text-center custom-table-bg"
        >
          <thead>
            <tr class="h1 text-center align-middle">
              <th colspan="7" scope="col">
                {{ regionLabel }} {{ pvpBracketLabel }} Leaderboard
              </th>
            </tr>
            <tr class="h4">
              <th scope="col">Rank</th>
              <th scope="col">Name</th>
              <th scope="col">Realm</th>
              <th scope="col">Faction</th>
              <th scope="col">Rating</th>
              <th scope="col">Season W - L</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="h5"
              v-for="pvpLeaderboard in pvpLeaderboards.entries"
              :key="pvpLeaderboard"
            >
              <td>
                {{ pvpLeaderboard.rank }}
              </td>
              <td>
                {{ pvpLeaderboard.character.name }}
              </td>
              <td>
                {{
                  pvpLeaderboard.character.realm.slug.charAt(0).toUpperCase() +
                    pvpLeaderboard.character.realm.slug
                      .slice(1)
                      .toLowerCase()
                      .split("-")
                      .join(" ")
                }}
              </td>
              <td>
                {{
                  pvpLeaderboard.faction.type.charAt(0).toUpperCase() +
                    pvpLeaderboard.faction.type.slice(1).toLowerCase()
                }}
              </td>
              <td>
                {{ pvpLeaderboard.rating }}
              </td>
              <td class="d-flex justify-content-center">
                <div class="text-success" style="margin-right: 4px;">
                  {{ pvpLeaderboard.season_match_statistics.won }}
                </div>
                -
                <div class="text-danger" style="margin-left: 5px;">
                  {{ pvpLeaderboard.season_match_statistics.lost }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </b-card>
    </div>
  </div>
</template>

<script>
export default {
  name: "PvpLeaderboard",
  data() {
    return {
      form: {
        region: null,
        pvpBracket: null
      },
      regions: [{ text: "Region", value: null }, "EU", "US"],
      pvpBrackets: [{ text: "PvP bracket", value: null }, "2v2", "3v3", "RBG"],
      pvpLeaderboards: [],
      show: true,
      loading: false,
      correct: false,
      regionLabel: null,
      pvpBracketLabel: null
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      this.pvpLeaderboards = [];
      this.loading = true;
      this.regionLabel = this.form.region;
      this.pvpBracketLabel = this.pvpLeaderboards.name;
      const baseURI = "http://51.91.158.132:3000/";
      this.$http
        .get(
          baseURI +
            this.form.region.toLowerCase() +
            "/28/" +
            this.form.pvpBracket.toLowerCase()
        )
        .then(
          response => (
            (this.loading = false),
            (this.pvpLeaderboards = response.data),
            (this.correct = true)
          )
        )
        .catch(error => {
          (this.loading = false), this.toast("b-toaster-bottom-right", error);
        });
    },
    onReset(evt) {
      evt.preventDefault();
      this.loading = false;
      this.correct = false;
      this.form.region = null;
      this.form.pvpBracket = null;
      this.pvpLeaderboards = [];
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
    toast(toaster, append = false) {
      this.$bvToast.toast(
        "No data found for " +
          this.form.region +
          " " +
          this.form.pvpBracket +
          " leaderboard !",
        {
          title: "Whoops !",
          toaster: toaster,
          solid: true,
          appendToast: append
        }
      );
    }
  }
};
</script>

<style scoped>
.card,
.custom-table-bg {
  background-color: #37393f !important;
}
</style>
